/* Button */
.btn {
  padding: 0.4rem 1.4rem;
  border-radius: 2rem;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.btn-pagination {
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  background-color: none;
  color: blue;
  &.active {
    background-color: blue;
    color: white
  }
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}
